{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Lecturer</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- jQuery (necessary JavaScript plugins) -->
    <script src="{% static 'university/js/bootstrap.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'university/css/style.css' %}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="{% static 'university/js/jquery.min.js' %}"></script>
     <script src="{% static 'university/js/bootstrap.js' %}"></script>

  </head>
  <body>
    <div class="banner2">
    	 <div class="header">
    			 <div class="logo">
    				 <a href="index.html"><img src="{% static 'university/images/SFEDULOGO.png'%}" alt=""/></a>
    			 </div>
    			 <div class="top-menu">
    				 <span class="menu"></span>
    				 <ul class="navig">
    					 <li><a href="{% url 'index'%}">Главная</a></li>
    					 <li><a href="about.html">О нас</a></li>
    					 <li><a href="program.html">Образование</a></li>
    					 <li><a href="blog.html">Блог</a></li>
    					 <li><a href="gallery.html">Галерея</a></li>
    					 <li><a href="contact.html">Контакты</a></li>
    				 </ul>
    			 </div>
    			 <!-- script-for-menu -->
    		 <script>
    				$("span.menu").click(function(){
    					$("ul.navig").slideToggle("slow" , function(){
    					});
    				});
    		 </script>
    		 <!-- script-for-menu -->
    			 <div class="clearfix" ></div>
    	 </div>
    </div>
<div class="lector-contain">
    <div class="page-header">
      <h1>{{ Name }} <small> {{work}} кафедры<a href="#"> {{cathedra}}</small></a></h1>
    </div>
  </div>
  <div class="container">
    <div class="container-fluid">
      <div class="flex-container">
        <div class="flex-item">
          <div class="flex-row">
            <div class="flex-item">
              <img src="{{ image }}" class="img-responsive zoom-img" alt=""/>
            </div>
            <div class="flex-item text-lectures">
              <ul type="circle">
                  <li><strong>Научное звание</strong> : {{ degree }}</li>
                  <li><strong>Стаж по специальности (в годах)</strong> : {{seniority}}</li>
                  <li><strong>Преподаваемые дисциплины:</strong><ul>
                    {% for discipline in lector.disciplines_set.all %}
                      <li>{{discipline.discipline}}</li>
                    {% endfor %}
              </ul></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item text-article">
        <h3>Дополнительная Информация</h3>
        <p>{{additional_info}}</p>
    <!--Sidebar content-->
      </div>
      {% if lector.publications_set.all %}
      <div class="flex-item text-article">
        <h3>Публикации</h3>
         <ul>
           {% for publication in lector.publications_set.all %}
              <li>{{publication.publication}}</li>
          {% endfor %}
      {% endif %}
         </ul>
    <!--Sidebar content-->
      </div>
    </div>
  </div>
  <div class="footer">
  	 <div class="container">
  		 <div class="ftr-sec">
         <div class="row">
  			 <div class="col-4  ftr-grid">
  				 <h3>Text Module</h3>
  				 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut odio ut quam convallis ultricies. Morbi rutrum lectus tortor. Cras vitae semper mi, et feugiat dolor.</p>
  				 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut odio ut quam convallis ultricies. Morbi rutrum lectus tortor. Cras vitae semper mi, et feugiat dolor.</p>
  			 </div>
  			 <div class="col-4 ftr-grid2">
  				 <h3>Pages</h3>
  				 <ul>
  					 <li><a href="index"><span></span>Главная</a></li>
  					 <li><a href="about"><span></span>О нас</a></li>
  					 <li><a href="program"><span></span>Образование</a></li>
  					 <li><a href="blog"><span></span>Блог</a></li>
  					 <li><a href="gallery"><span></span>Галерея</a></li>
  					 <li><a href="contact"><span></span>Контакты</a></li>
  				 </ul>
  			 </div>
  			 <div class="col-4 ftr-grid3">
  				 <h3>Quick links</h3>
  				 <ul>
  					 <li><a href="about"><span></span>History</a></li>
  					 <li><a href="about"><span></span>Departments</a></li>
  					 <li><a href="gallery"><span></span>Services</a></li>
  					 <li><a href="blog"><span></span>Guidancs</a></li>
  					 <li><a href="about"><span></span>Team</a></li>
  					 <li><a href="contact"><span></span>Контакты</a></li>
  				 </ul>
  			 </div>
  			 <div class="clearfix"></div>
  		 </div>
  	 </div>
  </div>
  </div>
  <!---->
  <div class="copywrite">
  	 <div class="container">
  	 </div>
  </div>
</body>
</html>
