{%load static%}
<!DOCTYPE HTML>
<html>
<head>
<title>University | Typography</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><!-- jQuery (necessary JavaScript plugins) -->
<script src="{% static 'university/js/bootstrap.js'%}"></script>
<!-- Custom Theme files -->
<link href="{% static 'university/css/style.css'%}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="{% static 'university/js/jquery.min.js'%}"></script>
 <script src="{% static 'university/js/bootstrap.js'%}"></script>

</head>
<body>
<!-- banner -->
<div class="banner2">
	 <div class="header">
			 <div class="logo">
				 <a href="index"><img src="{% static 'university/images/logo.jpg'%}" alt=""/></a>
			 </div>
			 <div class="top-menu">
				 <span class="menu"></span>
				 <ul class="navig">
					 <li><a href="index">Главная</a></li>
					 <li><a href="about">О нас</a></li>
					 <li class="active"><a href="program">Образование</a></li>
					 <li><a href="blog">Блог</a></li>
					 <li><a href="gallery">Галерея</a></li>
					 <li><a href="contact">Контакты</a></li>
				 </ul>
			 </div>
			 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$("ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
			 <div class="clearfix"></div>
	 </div>
</div>
<!---->

  <div class="welcome">
  	 <div class="container">
  		 <h2>Duis aliquet in ex nec elementum. In commodo molestie libero ornare elementum.</h2>
       <br>
       <div class="container">
       <div class="flex-item text-article">
         <table class="table table-hover table-striped ">
           <thead class="thead-dark">
             <tr>
               <th scope="col">Направление</th>
               <th scope="col">Форма обучения</th>
               <th scope="col">кол-во бюджетных мест</th>
               <th scope="col">Перечень вступительных испытаний</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row"><a href=#>Физика (03.03.02)</a></th>
               <td>очная</td>
               <td>#</td>
               <td>русский язык, математика, физика </td>
             </tr>
             <tr>
               <th scope="row"><a href=#>Радиофизика (03.03.03)</a></th>
               <td>очная</td>
               <td>#</td>
               <td>русский язык, математика, физика </td>
             </tr>
             <tr>
               <th scope="row"><a href=#>Техническая физика (16.03.01) </a></th>
               <td>очная</td>
               <td>#</td>
               <td>русский язык, математика, физика </td>
             </tr>
             <tr>
               <th scope="row"><a href=#>Нанотехнологии и микросистемная техника (28.03.01)</a></th>
               <td>очная</td>
               <td>#</td>
               <td>русский язык, математика, физика </td>
             </tr>
             <tr>
               <th scope="row"><a href=#>Ядерная физика и технологии (14.03.02) </a></th>
               <td>очная</td>
               <td>#</td>
               <td>русский язык, математика, физика </td>
             </tr>
             <tr>
               <th scope="row"><a href=#>Инфокоммуникационные технологии и системы связи (11.03.02) </a></th>
               <td>очная</td>
               <td>#</td>
               <td>русский язык, математика, физика </td>
             </tr>
           </tbody>
         </table>
       </div>
     </div>

       <div class="welcm_sec">

  				 <div class="campus_head">
  					 <h3>Welcome</h3>
  					 <p>Nunc justo sapien, cursus at urna at, placerat porttitor tellus. Aliquam vehicula tellus nunc,
  					 id pretium lacus placerat dignissim. Donec quis dui sed lacus vulputate scelerisque a sit amet neque.</p>
  				 </div>

           <div class="row">
             <div class="col">
          <img src="{% static 'university/images/w1.jpg'%}" class="img-responsive" alt=""/>
          <h5><a href="#">Aliquam sit amet</a></h5>
          <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
        </div>
        <div class="col">
          <img src="{% static 'university/images/w3.jpg'%}" class="img-responsive" alt=""/>
          <h5><a href="#">Aliquam sit amet</a></h5>
          <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
        </div>
        <div class="col">
          <img src="{% static 'university/images/w2.jpg'%}" class="img-responsive" alt=""/>
          <h5><a href="#">Aliquam sit amet</a></h5>
          <p>Morbi molestie nec ante ultrices. Cum sociis natoque penatibus et magnis dis parturient</p>
        </div>

  				 <div class="clearfix"></div>
  				 <div class="more_info">
  						 <a href="blog">More Info....</a>
  				 </div>
  			 </div>
  			 <div class="clearfix"></div>
  		 </div>
  	 </div>
  </div>
	<!----pages-end---->
	<!---->
<div class="footer">
	 <div class="container">
		 <div class="ftr-sec">
       <div class="row">
			 <div class="col-4  ftr-grid">
				 <h3>Text Module</h3>
				 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut odio ut quam convallis ultricies. Morbi rutrum lectus tortor. Cras vitae semper mi, et feugiat dolor.</p>
				 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut odio ut quam convallis ultricies. Morbi rutrum lectus tortor. Cras vitae semper mi, et feugiat dolor.</p>
			 </div>
			 <div class="col-4 ftr-grid2">
				 <h3>Pages</h3>
				 <ul>
					 <li><a href="index"><span></span>Главная</a></li>
					 <li><a href="about"><span></span>О нас</a></li>
					 <li><a href="program"><span></span>Образование</a></li>
					 <li><a href="blog"><span></span>Блог</a></li>
					 <li><a href="gallery"><span></span>Галерея</a></li>
					 <li><a href="contact"><span></span>Контакты</a></li>
				 </ul>
			 </div>
			 <div class="col-4 ftr-grid3">
				 <h3>Quick links</h3>
				 <ul>
					 <li><a href="about"><span></span>History</a></li>
					 <li><a href="about"><span></span>Departments</a></li>
					 <li><a href="gallery"><span></span>Services</a></li>
					 <li><a href="blog"><span></span>Guidancs</a></li>
					 <li><a href="about"><span></span>Team</a></li>
					 <li><a href="contact"><span></span>Контакты</a></li>
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
</div>
<!---->
<div class="copywrite">
	 <div class="container">
	 </div>
</div>
<!---->
</body>
</html>
